   
body
{
    background-image: url(fbr.png);
    background-position: absolute;
    background-size: cover;
    height: 100%;
    width: 90%;
    
}
h1
{
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.typewriter
{
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    color: aliceblue;
}
.purpose
{
    color: white;
    font-family: monospace;
    text-align: center;
    size: 100%;
}