body
{
    background-image: url(664292.jpg);
    background-position: fixed;
    background-size: fill;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    filter: blur(8px);
}
h1
{
    color: white;
    text-align: center;
}
.typewriter
{
    position:absolute
    font-size:xx-large;
    text-align:center;
    font-weight:700;
    color:aliceblue;
}
.purpose
{
    color: white;
    font-family: monospace;
    text-align: center;
    size: 100%;
}